<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Videomeet</title>
    <script src="../static/js/app.js"></script>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="main-container">
        <div class="details">
            <img class="profile-photo" src="../static/images/main_profile.jpg" alt="profile-photo">
            <p>Name: Alansha</p>
            <p>Course: Python - Flask</p>
            <p>Duration: 2hr</p>
            <a href="{% url 'live' %}">click here for the live link</a>
        </div>
    </div>
</body>
</html>
